* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 20px; 
    margin: auto auto auto 150px;
}

.links {
    font-size: 18px;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #BFC4CA;
  }

ul {
    list-style-type: none;
    display: flex;
    margin: auto 175px auto auto;
    padding: 0;
    gap: 24px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero {
    display: flex;
}

.main {
    background-color: #1F2937;
    flex-wrap: wrap;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 125px auto auto 175px;
    padding-bottom: 8px;
}

.subtext {
    color: #BFC4CA;
    font-size: 18px;
    margin: auto 15px 15px 175px;
    flex-wrap: wrap;
    padding-bottom: 8px;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 36px;
    border-radius: 8px;
    margin: 100px 15px 15px 175px;
    border: none;
}

.photo {
    padding-top: 125px;
    padding-right: 175px;
    padding-bottom: 125px;
    padding-left: 50px;
    background-color: #1F2937;
}

.info-section {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 30px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: center;
}

.square {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.text {
    color:	#374151;
    padding: 8px;
    padding-bottom: 100px;
}

.info {
    max-width: 150px;
  }

.quote {
    background-color: #E5E7EB;
    color: 	#374151;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 300px;
    padding-right: 300px;
}

.quote-body {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
}

.quote-person {
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.call-to-action {
    display: flex;
    justify-content: space-between;  
    align-items: center;       
    background: #3882F6;
    color: #F9FAF8;
    padding: 50px 64px;              
    margin: 100px 200px;               
    border-radius: 12px;
}

.button-top {
    font-size: 20px;
    font-weight: bold;
}

.button-bottom {
    font-size: 16px;
    font-weight: 300;
    color: #E5E7EB;
}

.button-two {
    color: white;
    border: 2px solid white;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 28px;           
    margin: 0;                 
    font-size: 18px;
    font-weight: bold;
}

.footer {
    background: #1F2937;
    color: #E5E7EB;
    text-align: center;
    font-size: 16px;
    padding: 40px;
}